:root {
  @apply light;
}

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.dark {
  --brand: #3485e4;
  --brandDarker: #2f78cd;
  --brand25: rgba(52, 133, 228, 0.15);
  --brand15: rgba(52, 133, 228, 0.25);

  --border: #374151;
  --bg: #171d2d;
  --bg-secondary: #1d2333;

  /* --border: #232325;
  --bg: #131313;
  --bg-secondary: #171719; */

  --text-primary: #edf2f7;
  --text-secondary: #cbd5e0;
  --error: #fc8181;
  --success: #9ae6b4;
}

.light {
  --brand: #3485e4;
  --brandDarker: #2f78cd;
  --brand25: rgba(52, 133, 228, 0.25);
  --brand15: rgba(52, 133, 228, 0.15);
  --border: #f3f3f4;
  --bg: #ffffff;
  --bg-secondary: #f6f6f6;
  --text-primary: #000000;
  --text-secondary: #4a5568;
  --error: #f56565;
  --success: #97e1b0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
